@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);

* {
	padding:0;
	margin:0;
}


/* Page Style */


#logo,
.message {
	color: #fff;
}

#logo {
	font-size: 100px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}
.message {
	font-size: 40px;
	margin: 20px 0;
}

.btn-normal {
	padding: ;
	background: none;
	color: #8e7535;
	text-decoration: none;
	font-family: "Lucida Sans", sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.content-resizer {
	width:auto;
	height: 90%;
	margin: 5% auto;
	background: none;
}

.img-rounded {
	border-radius: 5px;
	margin: 5px auto 20px auto;
}

.alt-img {
	padding: 5px;
	background: #fff;
	color: #333;
	display: inline-block;
	border-radius: 4px;
	margin-bottom: 20px;
}

div[data-target] {
	margin: 0;
	padding:0;
	position: relative;
	overflow:hidden;
}

div[data-target] > div {
	text-align:center;
	position: relative;
}

div#home {
	background-image: url(../img/m1.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

div#about {
	background-image: url(../img/m2.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

div#examples {
	background-image: url(../img/m3.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

div#for {
	background-image: url(../img/m4.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

}

div#contact {
	background-image: url(../img/bg5.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contato{
	background: #ff0000;
	width: 960px;
	height: 600px;
}

.endereco{
	background: #c59bb4;
	height: 20px;
	width: 97%;
	margin-left: 1%;
}