@font-face {
    font-family: ChampagneLimousines;
    src: url("../fonts/ChampagneLimousines.ttf");
}

@font-face {
    font-family: MonsieurLaDoulaise;
    src: url("../fonts/MonsieurLaDoulaise-Regular.ttf");
}

body {
    width: 100%;
    height: 100%;
    color: #8e7535;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #FAFAFA;
}

.section {
    padding-top: 50px;
}

.lgvt-nav-menu-bg {
  background: url("../img/menu2.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  display: none;
  position: fixed;
  top: 50px;
  width: 270px;
  height: 304px;
  background-position: 0 0;
  margin-left: -31px;
}

.lgvt-text-container-dialog, 
.lgvt-text-container-dialog a, 
.lgvt-text-container-dialog a:hover {
  color: #61371c;
}

/***** BACKGROUNDS *****/
#home {
  background: url("../img/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sobre {
  background: url("../img/bg2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#estetica {
  background: url("../img/bg3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#beleza {
  background: url("../img/bg4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contatos {
  background: url("../img/bg5.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/***** CONTACTS *****/

.lgvt-contacts-working {
    text-align: right;
    font-family: MonsieurLaDoulaise;
    font-size: 40px;
    margin-top: -6px;
}

.lgvt-contacts-working p{
    line-height: 40px;
}


.lgvt-contacts-contacts-container {
    height: 166px;
    margin-bottom: 50px;
    position: relative;
}

.lgvt-contacts-contacts {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    text-align: justify;
}

.lgvt-contacts-contacts span {
    font-size: 35px;
}

.lgvt-contacts-contacts span.lgvt-label {
    font-size: 25px;  
}

.lgvt-contacts-contacts span.lgvt-email {
    font-size: 18px;
}

.lgvt-contacts-form-container {
    border: 1px solid #c59bb4;
    padding: 10px;
    margin-bottom: 30px;
}

.lgvt-contacts-form {
    text-align: justify;
}

.lgvt-contacts-form .form-control {
    box-shadow: none;
    border: none;
    background: rgba(255, 255, 255, 0.75);
}

.lgvt-contacts-form .input-group {
    padding-top: 10px;
    z-index: 3 !important;
    width: 100%;
}

.lgvt-contacts-form .input-group-addon {
    min-width: 150px;
    max-width: 150px;
    text-align: right;
    color: #8e7535;
    font-size: 18px;
    border: none;
    background: none !important;
    display: none;
}

.lgvt-contacts-form .lgvt-input-group-submit {
    width: 100%;
    text-align: right;
}

.lgvt-contacts-form .lgvt-input-group-submit .btn {
    margin-right: 5px;
    border: none;
    color: #8e7535;
    font-size: 18px;
    background: none;
}

.lgvt-contacts-map-container {
    padding: 0;
    margin: 0;
    width: inherit;
    height: 100%;
    z-index: 3 !important;
}

.lgvt-contacts-map-top-bar {
    height: 75px;
    background-color: #c59bb4;
}

/***** MENU *****/
.navbar {
    background-color: #c59bb4 !important;
    border: none !important;
}
.navbar-brand {
    display: none;
}

.lgvt-brand {
    background: url(../img/logo.png) no-repeat;
    background-size: 100%;
    display: block;
    width:200px;
    height: 126px;
}

/***** TEXT CONTAINERS *****/
.lgvt-text-container {
    font-family: ChampagneLimousines;
    color: #967f49;
    font-size: 1.5em;
    text-align: justify;
    z-index: 3;
}

  /** Page specific containers **/
.lgvt-text-container_home {
    color: #61371c;
}

.lgvt-text-container_home p, 
.lgvt-text-container_home .page-scroll a {
    white-space: nowrap;
}

.lgvt-text-container_home p:first-child {
    font-size: 60px;
}

.lgvt-text-container_home p:nth-child(2) {
    font-size: 50px;
    margin-left: 60px;
    line-height: 5px;
}

.lgvt-text-container_home p:nth-child(3) { 
    font-size: 50px;
    margin-left: 283px;
}

.lgvt-text-container_home .page-scroll a {
    font-size: 30px;
    margin-left: 283px;
    color: #000;
    text-decoration: none;
    line-height: 5px;
}

.lgvt-text-container_contacts {
    padding-top: 0px;
    text-align: center;
}

.lgvt-text-container_contacts p {
    text-align: justify;
    clear: both;
    margin: auto;
    width: 80%;
    padding-top: 10px;
    line-height: 10px;
}

.lgvt-text-container_contacts p i {
    font-size: 25px;
}

/***** DIALOG *****/
.lgvt-dialog {
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.lgvt-dialog.collapse {
    display: none;
}

.lgvt-dialog-content-container {
    position: relative;
    clear: both;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url("../img/bg1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lgvt-dialog-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: black;
    z-index: 2;
}

#lgvt-dialog-close-button {
    text-decoration: none;
    color: #000;
    z-index: 2;
}

.lgvt-dialog-content {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.lgvt-dialog-content-contents {
    margin: auto;
    clear: both;
    width: 90%;
    height: 90%;
    vertical-align: middle;
    display: inline-flex;
}

.lgvt-dialog-content-contents.collapse {
    display: none;
}

.lgvt-dialog-content-contents ul {
    margin: auto;
    font-size: 9px;
     font-size: 2.8vw;
    list-style: none;
    color: #61371c;
}

.lgvt-dialog-content-contents ul li h2 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
/****** FLOATING PROPERTIES *******/
.lgvt-text-container_home,
.lgvt-text-container_sobre,
.lgvt-text-container_estetica,
.lgvt-text-container_beleza {
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
}

.lgvt-text-container_home {
    float: none;
}

.lgvt-side-image {
    max-width: 100%;
}

.lgvt-side-image-container {
    float: right;
}

.lgvt-side-image-container_home {
    margin-top: -200px;
}

.lgvt-side-image-container_sobre {
    margin-top: -400px;
}

.lgvt-side-image-container_estetica {
    margin-top: -300px;
}

.lgvt-side-image-container_beleza {
    margin-top: -200px;
}

/*.swiper-container, .swiper-slide {
  width: 500px;
  height: 200px;
}*/

.swiper-container {
  width: 660px;
  height: 250px;
  color: #fff;
  text-align: center;
  z-index: 3;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  max-width: 100%;
  margin-left: 0;
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 40%;
  z-index: 2;
  font-size: 50px;
  color: #000;
  display: none;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0%;
}

.swiper-slide {
  padding-left: 30px;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  border: solid 10px white;
}

.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-visible-switch {
  background: #aaa;
}

.swiper-active-switch {
  background: #fff;
}

@media(min-width:767px) {
    .lgvt-nav-menu-bg, .arrow-left, .arrow-right {
        display:block;
    }

    .container {
    }

    .container_sides-image {
        padding-right: 30%;
    }

    .lgvt-text-container {
        padding-top: 200px;
    }
/***** MENU *****/
    .lgvt-nav-menu-list {
        position: absolute;
        top: 180px;
    }

    .lgvt-nav-menu-list-item {
        float: none !important; /** overriding bootstrap's default values **/
        z-index: 4;
        font-weight: bold;
        font-size: 15px;
        margin-left: -15px;
        font-family: "Lucida Sans", "Tahoma", sans-serif      
    }

    .lgvt-nav-menu-list-item a {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        color: #8e7535 !important;
    }

    .lgvt-nav-menu-list-item.active a {
        background: none !important; /** overriding bootstrap's default values **/
    }

    .lgvt-nav-menu-list-item:hover {
        font-size: 17px;
    }

    .lgvt-nav-menu-list-item.active a span {
        border-bottom: 2px solid #bd0052; 
    }

    .navbar-brand {
        display: block;
        position: absolute;
        top: 50px;
    }

    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
    }

/***** SIDE IMAGES *****/
    .lgvt-side-image-container {
        display: block;
        position: absolute;
        right: -2%;
        bottom: 0px;
        z-index: 1;
        float: none;
        margin-top: auto;
    }

    .lgvt-side-image {
        height: 100%;
        max-height: 100%;
    }
  /** Section specific image attriputes **/
    .lgvt-side-image_sobre {
        height: 125%;
        max-height: 125%;
    }

    .lgvt-side-image-container_sobre {
        bottom: -5%;
    }

    .lgvt-side-image-container_beleza {
        right: -5%;
    }

    .section {
        padding-top: 150px;
    }
/***** TEXT CONTAINERS ****/
    .lgvt-text-container_home,
    .lgvt-text-container_sobre,
    .lgvt-text-container_estetica,
    .lgvt-text-container_beleza {
        background-color: transparent;
        float:none;
    }

    .lgvt-side-image-container_home,
    .lgvt-side-image-container_sobre,
    .lgvt-side-image-container_estetica,
    .lgvt-side-image-container_beleza {
        float: none;
        margin-top: auto;

    }
/***** CONTACTS *****/

    .lgvt-contacts-working {
        margin-top: -40px;
    }

    .lgvt-contacts-contacts-container {
        height: 325px;
        margin-bottom: auto;
    }

    .lgvt-contacts-map-top-bar {
        padding-top: 0px;
    }

    .lgvt-contacts-form .input-group-addon {
        display: table-cell;
    }

    .lgvt-contacts-form .input-group {
        width: auto;
    }

    .lgvt-contacts-form .input-group label {
        display: none;
    }

/***** DIALOG *****/
    .lgvt-dialog-content-container {
        width: 70%;
        height: 70%;
    }
    
    .lgvt-dialog-content-contents ul {
        font-size: 18px;
        font-size: 1vw;
    }

    .lgvt-contacts-form .lgvt-input-group-submit {
        float: right;
    }
}

@media(max-width: 480px) {
    .lgvt-side-image-container_home,
    .lgvt-side-image-container_sobre,
    .lgvt-side-image-container_estetica,
    .lgvt-side-image-container_beleza {
        float: none;
        margin-top: auto;
        margin-top: 0px !important;
    }

    .lgvt-text-container_home p, 
    .lgvt-text-container_home .page-scroll a {
        white-space: nowrap;
    }

    .lgvt-text-container_home p:first-child {
        font-size: 30px;
        font-size: 9vw;
    }

    .lgvt-text-container_home p:nth-child(2) {
        font-size: 23px;
        font-size: 7vw;
        margin-left: 60px;
        line-height: 5px;
    }

    .lgvt-text-container_home p:nth-child(3) { 
        font-size: 30px;
        font-size: 6vw;
        margin-left: 90px;
    }

    .lgvt-text-container_contacts {
        height: auto;
        font-size: 15px;
        font-size: 5vw;
    }

    .lgvt-text-container_contacts p {
        text-align: justify;
        line-height: 20px;
        line-height: 5vw;
        padding-bottom: 10px;
    }

    .lgvt-label-email {
        display: none;
    }

    .lgvt-contacts-contacts span.lgvt-email {
        font-size: 15px;
        font-size: 4.5vw;
    }
}

.section {
    height: auto;
    min-height: 100%;
    text-align: center;
    position: relative;
}

.section:nth-child(odd){
    background: #eee;
}

.lgvt-map-marker {
    color: rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes animatedBG {
    from { background-position: 0 0 }
    to { background-position: 0 100%}
}

#animated-bg {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../img/coracoes.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-y;
    -webkit-animation: animatedBG;
    -webkit-animation-duration: 100s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

